.top {
    display: flex;
    padding:0;
    justify-content: center;
    align-content: center;
    .input{
        flex: 1
    }
    .line{
        position: relative;
        
        background-color: #d7dbe7;
        margin: 0 12px;
        display: inline-block;
        width: 12px;
        height: 1px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
    }
}
