.tab-title {  
    font-size: 20px; /* 或你想要的任何大小 */  
    display: flex;
  }


  .address{
    display: flex;
    background-color: #FFFFFF;
     top: 5%;
     right: 5%;
     


     
     border: 1px solid #eee;
  }


