


.login-form-content {
    position: relative;
    width: 100%;
    margin-bottom: 16px;
}


.login-form-input {
    height: 52px;
    padding: 0 16px;
}

/* .login-form-forgot {
    float: right;
}
.ant-col-rtl .login-form-forgot {
    float: left;
} */
.login-form-button {
    width: 100%;
    font-weight: 600;
}

.link-button-container {
    width: 100%;  
    display: flex;  
    justify-content: space-between; /* 这将使得子元素在主轴上均匀分布，并靠两边 */  
    padding: 0 2px;
}

.external-login-button {
    display: flex;
    flex-direction: row;
    grid-gap: 8px;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 12px 0;
    color: #474F5E;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #B8BECC;
    border-radius: 4px;
    height: 46px;
}


.external-login-button img {
    object-fit: cover;
    width: 10%;
    height: 100%;
}