
.register-form-wrap h3 {
    margin-bottom: 32px;
    color: #262626;
    font-weight: 600;
    font-size: 30px;
    line-height: 42px;
}

.register-form-content {
    position: relative;
    width: 100%;
    margin-bottom: 16px;
}


.register-form-input {
    height: 52px;
    padding: 0 16px;
}

/* .register-form-forgot {
    float: right;
}
.ant-col-rtl .register-form-forgot {
    float: left;
} */
.register-form-button {
    width: 100%;
    font-weight: 600;
}

.link-button-container {
    width: 100%;  
    display: flex;  
    justify-content: space-between; /* 这将使得子元素在主轴上均匀分布，并靠两边 */  
    padding: 0 2px;
}  
  
a {  
    display: inline-block;  
    color: #356dff;  
    font-weight: 600;  
    text-decoration: none;
}

.external-register-button {
    display: flex;
    flex-direction: row;
    grid-gap: 8px;
    gap: 8px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 12px 0;
    color: #474F5E;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #B8BECC;
    border-radius: 4px;
    height: 46px;
}


.external-register-button img {
    object-fit: cover;
    width: 10%;
    height: 100%;
}