.oval-shape {
    border-radius: 10px; /* 设置边框半径以实现椭圆形 */
    font-size: 14px; /* 设置字体大小 */
    color: #242833; /* 设置字体颜色 */
    background: #FFEDC9;
  }
  .oval-shape2 {
    border-radius: 10px; /* 设置边框半径以实现椭圆形 */
    font-size: 14px; /* 设置字体大小 */
    color: #242833; /* 设置字体颜色 */
    background: #F7F8F8;
  }