.oval-shape {
  border-radius: 10px; /* 设置边框半径以实现椭圆形 */
  font-size: 12px; /* 设置字体大小 */
  color: #242833; /* 设置字体颜色 */
  background: #FFEDC9;
  /* 添加内嵌SVG圆形图标 */
  background-image: url("data:image/svg+xml;utf8,<svg width='8' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='4' cy='4' r='3' stroke='%23FE9E0F' stroke-width='2'></circle></svg>");
  background-repeat: no-repeat;
  background-position: left center; /* 将图标定位在左侧中心 */
  padding-left: 12px; /* 增加左侧内边距以便有足够的空间显示图标 */
  
}
.oval-shape2 {
  border-radius: 10px; /* 设置边框半径以实现椭圆形 */
  font-size: 12px; /* 设置字体大小 */
  color: #242833; /* 设置字体颜色 */
  background: #F7F8F8;
  /* 添加内嵌SVG圆形图标 */
  background-image: url("data:image/svg+xml;utf8,<svg width='8' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='4' cy='4' r='4' fill='%237A8499'></circle></svg>");
  background-repeat: no-repeat;
  background-position: left center; /* 将图标定位在左侧中心 */
  padding-left: 12px; /* 增加左侧内边距以便有足够的空间显示图标 */
}